@model List<world.Models.Country>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>Home</h1>
    <table>
        @foreach (var country in @Model)
        {
            <tr>
                <td>@country.Name</td>
                <td>@country.Capital</td>
            </tr>
        }
    </table>
</body>
</html>