@model Microsoft.AspNetCore.Hosting.IHostingEnvironment

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Home</h1>
    <p>@Model.ApplicationName</p>
    <p>@Model.ContentRootPath</p>
    <p>@Model.WebRootPath</p>
</body>
</html>