@model world.Models.Country

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>Home</h1>
<div>
    <form asp-action="Index" asp-controller="Home">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <button type="submit">Submit</button>
        <p>
            @if (@Model != null)
            {
                <label asp-for="Capital">@Model.Capital</label>
            }
        </p>
    </form>
</div>
</body>
</html>